.container {
    margin: 2rem;
    display: flex;
    justify-content: center;

    .results-container {
        display: flex;

        .results-view {
            width: 18rem;
            height: 5rem;
            border: solid 1px lightgrey;
            padding: .5rem;
            margin-right: 2rem;
        }
    }

    .actions {
        margin: 1em 0;
        justify-content: space-evenly;
    }
}